# Evitar subir arquivos de sistema e dependências
.DS_Store
Thumbs.db
node_modules/

# Observação: o arquivo `config.js` será versionado para habilitar o deploy do site
# Está disponível um modelo em `config.example.js`. Copie e preencha conforme sua
# configuração do Firebase.